@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model int



<div class="btn-group" role="group">
    <a class="btn btn-primary" href="@Url.Action("Edit/"+Model)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
    <a class="btn btn-success" href="@Url.Action("Details/"+Model)"><i class="fa fa-info-circle" aria-hidden="true"></i>Details</a>
    <a class="btn btn-danger" href="@Url.Action("Delete/"+Model)"><i class="fa fa-ban" aria-hidden="true"></i>Delete</a>
</div>


